* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

@-ms-viewport {
	width: device-width;
}

/*******************
  General Format
*******************/
/* Text */

body {
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 1.25em;
	line-height: 1.75em;
	background-color: black;
	min-width: 412px;
	overflow-x: auto;
}

h1 {
	color: whitesmoke;
	font-weight: 100;
	line-height: 1.5em;
}

h2 {
	font-weight: 500;
	font-style: italic;
	line-height: 1.5em;
	color: black;
}

h3 {
	font-weight: 300;
	color: black;
}

strong, b {
	font-weight: 400;
	color: inherit;
}

input, textarea, select {
	font-weight: 300;
	line-height: 1.75em;
	color: #888;
	-webkit-text-stroke: 0.1px;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

p, ul, ol, dl {
	margin-bottom: 1em;
}

footer {
	padding-top: 1.5em;
}

/*  Containers */
.container {
	margin: 0 auto;
	max-width: 1600px;
}

.header {
	height: fit-content;
	padding: 2em 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 2em;
}

/* Buttons */

button, .btn {
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	-webkit-appearance: none;
	position: relative;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background: transparent;
	padding: 0.85em 3em;
	border: 1px #d6d6d6 solid;
	border-radius: .3em;
	cursor: pointer;
	color: #fff;
	box-shadow: inset 0 0 0 1px #d6d6d6;
	transition: all .7s ease-in-out;
}

.btn:hover {
	background-color: rgba(245, 245, 245, 0.3);
	color: whitesmoke;
	cursor: pointer;
	transform: scale(1.1);
}


/**********************
       Navigation
**********************/

.nav-bar {
	display: none;
	margin: 0 auto;
	max-width: 1600px;
	background-color: white;
}

/**********************
     Hero Section
**********************/
.hero {
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
	background-image: 
        linear-gradient(rgba(0, 70, 255, 0.1), rgba(0, 70, 255, 0.1)), 
        url("images/overlay.png"), 
        url("../../images/Desk-Background.jpg");
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	padding: 14em 0 14em 0;
	text-align: center;
	color: #fff;
}

.hero h1 {
	font-size: 2.25em;
	line-height: 1.25em;
	margin-bottom: 1em;
}

.hero .header p {
	margin-top: 1.25em;
	font-weight: 100;
	padding: 0;
	font-size: 1.25em;
	line-height: 1.5em;
	text-align: center;
}

.hero a {
	margin-top: 1.5em;
}


/**********************
    About Section
**********************/
.about .header {
	background-color: white;

}

.about-content {
	background-image: linear-gradient(45deg, #dce7b6, #dfde79, #f1cd73, #80cdcf);  
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 2em;
	padding: 5em;
}

.about-content img {
	width: calc(610*.6px);
	height: calc(1098*.6px);
}

.about h3 {
	font-size: 2em;
	margin-bottom: 1em;
}

.about a {
	margin-top: 2em;
}

/**********************
     My Work Section
**********************/
.my-work .header {
	background-color: white;
}

.my-work-content {
	background: #e96443;  /* fallback for old browsers */
	background: -webkit-linear-gradient(-45deg, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(-45deg, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 2em 0;
}

.my-work h3 {
	font-size: 2em;
}

/* Diamond Grid Containers */
.container-diamonds {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 7em;
	padding: 2em;
}
  
.grid-container-diamonds {
	display: grid;
	grid-template-columns: repeat(3, 103px);
	grid-template-rows: repeat(9, 103px);
	gap: 2.65em;
	grid-template-areas:
	". a ."
	"b . c"
	". d ."
	"e . f"
	". g ."
	"h . i"
	". j ."
	"k . l"
	". m .";
	margin: 3em 6.75em 3em 0;
	justify-content: center;
	align-items: center;
}
  
.grid-item-diamonds {
	width: 234px;
	height: 234px;
	transform: rotate(45deg);
	overflow: hidden;
	position: relative;
	transition: transform 1s ease;
	z-index: 1;
	border: 14px solid whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-item-diamonds:hover {
	transform: rotate(45deg) scale(1.1); /* Grows while keeping the diamond shape */
	z-index: 10; /* Bring to front on hover */
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
  
.grid-item-diamonds img {	
	width: 170%;
	height: 170%;
	object-fit: cover;
	transform: rotate(-45deg);
}
  
/* Assign grid areas */
.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }
.f { grid-area: f; }
.g { grid-area: g; }
.h { grid-area: h; }
.i { grid-area: i; }
.j { grid-area: j; }
.k { grid-area: k; }
.l { grid-area: l; }
.m { grid-area: m; }
  

/**********************
  Events Section
**********************/
.events .header {
	background-color: white;
}

.events-content {
	background: #DB2A61;
	background: radial-gradient(at center, #a02478, #DB2A61, #E6C938);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1em;
	padding: 3em 0;
}

.events-content h3 {
	color: whitesmoke;
	font-size: 1.5em;
	margin-bottom: 1em;
}

.aicher-quote {
	text-align: center;
}

.current-events {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}


/**********************
    Contact Me Section
**********************/
.contact-me {
	background-color: white;
}

.contact-me .header {
	height:fit-content;
	padding: 2em 0 .5em;
}

.contact-me p {
	text-align: center;
}

.contact-me p:last-child {
	margin-bottom: 2em;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 2em;
}

.contact-btns, .contact-name-email {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.contact-btns .btn {
	background-color: gray;
}

.contact-btns .btn:hover {
	background-color: rgba(245, 245, 245, 0.7);
	color: black;
}

/* Form Details*/

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form .select,
form textarea {
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	box-shadow: inset 0 0 0 1px #e6e6e6;
	background: #f8f8f8;
	width: 100%;
	padding: 0.85em 1em 0.85em 1em;
	border-radius: 0.25em;
	border: 0;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
	line-height: 1.25em;
}

form textarea {
	min-height: 13em;
}

/**********************
         Footer
**********************/

.footer {
	position: relative;
	margin: 0;
	text-align: center;
	padding: 4em 0;
	box-shadow: inset 0 1px 0 0 #e6e6e6;
	background: #09008a;
	background: radial-gradient(circle,rgba(9, 0, 138, 1) 0%, rgba(82, 69, 230, 1) 48%, rgba(236, 28, 255, 1) 100%);
}

.footer .copyright {
	margin-top: 3em;
	font-size: 0.8em;
	color: #aaa;
}

.copyright {
	color: inherit;
}

.socials {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1.5em;
}

.socials li {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: whitesmoke;
	border: 1px #d6d6d6 solid;
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px #d6d6d6;
	transition: all 0.3s ease-in-out;
}

.socials li:hover {
	background-color: rgba(245, 245, 245, 0.3);
	color: whitesmoke;
	cursor: pointer;
	transform: scale(1.1);
}


/******************
  Media Queries
******************/

@media screen and (min-width: 1000px) {
	
	.nav-bar{
		display: flex;
		justify-content: space-between;
		padding: .5em 1em 0em;
	}

	.nav-list {
		display: flex;
	}

	.nav-bar ul {
		list-style-type: none;
	}

	.nav-list li {
		padding: 0 .75em;
	}

	.nav-list a {
		text-decoration: none;
		border-bottom: none;
	}

	.container {
		width: 100% !important;
	}

	.about-content {
		flex-direction: row;
		gap: 5em;
	}

	.about-content img {
		width: calc(610*.55px);
		height: calc(1098*.55px);
	}

	.grid-container-diamonds {
		grid-template-columns: repeat(6, 155px);
		grid-template-rows: repeat(5, 155px);
		gap: 0;
		grid-template-areas:
		"a   a   b   b   c   c"
		".   d   d   e   e   ."
		"f   f   g   g   h   h"
		".   i   i   j   j   ."
		"k   k   l   l   m   m";
		margin: 2em 0 2em 4em;
	}

	.events-content {
		padding: 5em 0;
	}

	.events-menu {
		display: flex;
		flex-direction: row;
		gap: 10em;
	}

	.contact-form {
		margin: 0 auto;
		width: 80%;
		gap: 2em;
	}

	.contact-btns, .contact-name-email {
		flex-direction: row;
		justify-content: center;
	}

	.name, .email {
		width: 100%;
	}

	.contact-btns {
		gap: 2em;
	}

	.submit, .clear {
		width: 300px;
	}
}

@media screen and (min-width: 1280px) {

	.container {
		width: 960px;
	}

	
}

@media screen and (min-width: 1680px) {

	.container {
		width: 1200px;
	}


}

/* Narrow Screens */
@media (max-width: 650px) {

	.grid-container-diamonds {
		grid-template-columns: repeat(3, 96px);
		grid-template-rows: repeat(9, 96px);
		gap: 0;
		margin: 0 auto;
		justify-items: center;
	}

	.grid-item-diamonds {
		width: 150px;
		height: 150px;
	}

	.btn {
		padding: 0.85em 2em;
		font-size: 0.9em; 
		min-width: 50vw;
		max-width: 100%; 
	}
}

@media (max-width: 399px) {

	body {
		min-width: 370px;
	}

	h1, h2, h3, p, a {
		font-size: 90%;
	}

	.about-content img {
		width: 88vw;
		height: 88vh;
	}

	.grid-container-diamonds {
		grid-template-columns: repeat(3, 85px);
		grid-template-rows: repeat(9, 85px);
		
	}

	.grid-item-diamonds {
		width: 135px;
		height: 135px;
	}

	.btn {
		padding: 0.85em 1.75em;
	}

}
  
  
  
